@import "tailwindcss";

@theme inline {
  --color-primary: #29935c;
  --color-primary-dark: #20784b;
  --color-primary-light: #f1fff8;
  --color-primary-light-2: #bddecc;
  --color-blackish: #252c32;
  --color-grayish: #606060;
  --color-secondary-grayish:#E7E7E7;
  --color-placeholder:#C6C6C6E5;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@utility component-px {
  @apply px-8 md:px-16 lg:px-32;
}

@utility component-py {
  @apply py-8 lg:py-10;
}

* {
  scroll-behavior: smooth;
}

input {
  @apply focus:outline-1 outline-gray-300;
}
